@import 'src/styles/main';

.tabs-content {
  width:auto;
  height:auto;
  overflow:hidden;
}
.tabs-content ul {
  list-style: none;
  height: 300px;
}
.tabs-content ul li {
  width:auto;
  height:1300px;
}
